@{
    ViewData["Title"] = "Mediklaud";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Welcome to JMI Hospital Management System</h2>
                    <p class="lead text-center">Connect with the future of healthcare!</p>

                    <div class="my-4">
                        <p class="text-muted">This system aims to revolutionize the way JMI Hospital delivers healthcare services by providing a unified platform. By streamlining and prioritizing patient care, the system will empower JMI Hospital to achieve its mission of providing high-quality healthcare services to the community.</p>
                    </div>

                    <div class="bg-light p-4 rounded">
                        <h4 class="mb-3">Key Features:</h4>
                        <ul class="list-unstyled">
                            <li><i class="fas fa-user-md mr-2"></i>Doctor Management: Efficiently manage doctors' information and appointments.</li>
                            <li><i class="fas fa-user mr-2"></i>Patient Management: Seamlessly enroll and schedule patients for appointments.</li>
                            <li><i class="fas fa-file-invoice-dollar mr-2"></i>Billing and Payment: Streamline financial transactions related to medical services.</li>
                        </ul>
                    </div>

                    <div class="text-center mt-4">
                        <a href="#" class="btn btn-primary btn-lg" style="background-color: #e20001;>Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
